.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding-block: .75rem;

}


.logo-img{
  vertical-align: middle;
}

.logo-txt{
  font: var(--body2-bold);
  font-weight: 500;
  color: var(--black);
}

.sidebar.hidden .logo{
  display: none;
}