.menuItem{
  padding-inline-start: 1.25rem;

}


.menuItem a{
  display: flex;
  align-items: center;
  block-size: 3rem;
  box-sizing: border-box;
}

.menuItem a span{
  padding-inline: .5rem;
  padding-block: .75rem;
}

.menuItem.is-active{
  background: #C5DCFA;
  border-start-end-radius: .75rem ;
  border-end-end-radius: .75rem;
}

.menuItem.is-active span{
  color: var(--primary);
  font-weight: 500;
}

.sidebar.hidden .menuItem a span{
  display: none;
}

.sidebar.hidden .menuItem{
  padding-inline-start: 0;
}