@import './menu.css';
@import './header.css';
@import './link.css';
@import './icons.css';

.sidebar{
  position: absolute;
  background: var(--white);
  block-size: 100vh;
  min-inline-size: 15.5rem;
  padding-inline-end: .5rem;

  /* transition: 5s all; */
}


.sidebar.hidden{
  min-inline-size: auto;
}